.h-500{
    min-height: 600px;
}
.task{
    width: 500px;
    /* min-height: 150px; */
}
.task form input, .task form textarea{
    background-color: #fcfcfd;
    outline: none;
}
.task form textarea{
    resize: none;
}
.my-hr{
    border-color: #e9ecef;
    opacity: 1;
}
